# Python 自动生成的缓存文件
__pycache__/

# 模型文件、数据文件
/data/
/.claude/

# IDE 编辑器缓存
/.idea/
/.vscode/

#环境配置
.env

# 密钥文件
keys/private.pem
keys/aes.key

#暂时移除
.env.example
requirements.txt.example
README.md.example
CLAUDE.md